.aheading{
    font-size: 2rem;
    margin-left : 6%;
}
.picbox{
    height: 400px;
    border: 2px solid white;
    border-radius: 15px;
    margin: 40px;
    display: flex;
}
.picbox .left{
    width: 50%;
    padding: 20px;
}
.picbox .right{
    width: 50%;
    display: flex;
    flex-direction: row;
}
.picbox .right img{
    height: 150px;
    width: 250px;
    padding: 5px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: rgba(246, 244, 244, 0.2) 20px 18px 50px -10px;
}
.badgebox{
    display: flex;
    flex-wrap: wrap;
}
.badge img{
   height: 200px;
   width: 200px;
   padding: 15px;
   border: 2px solid white;
   border-radius: 50%;
   margin: 30px;
   margin-left: 30%;
   object-fit:cover;
   scale: 1;
   opacity: 0.7;
}
.badge img:hover{
    scale: 1.1;
    opacity: 1;
}



@media screen and (max-width:1040px) {
    .picbox{
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    .picbox .left{
        width: 100%;
        height: fit-content;
        padding: 30px;
    }
    .picbox .right{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .badge img{
        margin: 20px;
        margin-left: 20%;
        height: 100px;
        width: 100px;
        
    }
    .aheading{
        margin-top: 15%;
    }
    .badgebox{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        
      }
      
}