.main-content{
    display: flex;
    color: white;
} 

.main-content .mleft{
    height: 400px;
    width: 45%;
    border-top: 2px solid white;
    border-left: 2px solid white;
    padding:2rem;
    margin: 2rem;
}
.main-content .right{
    height: 400px;
    width: 45%;
    padding:2rem;
    margin: 2rem;
}
.main-content .right img{
    height: 300px;
    width: 250px;
    margin-left: 25%;
    border-radius: 20px;
}
.main-content .right .btn{
    width: 100px;
    height: 40px;
    padding: 0.5rem;
    margin-left: 40%;
    margin-top: 20px;
}
.main-content .right h3{
    text-align: center;
    margin-top: 10px;
}
.main-content img{
    height: 200px;
    width: 400px;
    margin: 10px;
    border-radius: 5px;
}
.main-content h2{
    font-size: 1.5rem;
    margin-left: 10px;
}

